modules = ["python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["chromedriver", "chromium", "freetype", "geckodriver", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "noto-fonts-cjk-sans", "openjpeg", "tcl", "tk", "unzip", "zip", "zlib"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "爬虫程序"

[[workflows.workflow]]
name = "爬虫程序"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd code && python main.py --texts 10 --weibo-only"

[[ports]]
localPort = 39575
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 45361
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 47689
externalPort = 3001
exposeLocalhost = true

[userenv]

[userenv.shared]
DEEPSEEK_API_KEY = "sk-a4890b6f726f4b2591902f5b3ea7c313"
